@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
    font-family: Arial, Helvetica, sans-serif;
}
.custom-heading{
    letter-spacing: 1px;
    word-spacing: 1px;
}
.custom-paragraph{
    font-size: 14px;
    font-family: 'Varela Round', sans-serif;
}
.custom-p{
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
}
.custom-h2{
    color: #0b9cff;
    letter-spacing: .5px;
}
.custom-h3{
    color: #ff2c9b;
}